/* background specs */
html, body {
  background-color: #CCCCFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif ;
  min-width: 630px;
}

* html body {
  background-color: #CCCCFF;
  overflow: hidden;
}

/* navigation bar */
.topnav {
  overflow: hidden;
  background-color: #D8B5FF;
}

.topnav a{
  float: right;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration:underline;
  font-size: 20px;
}

.topnav-right a:hover {
  background-color:#F8EEDB;
  color: rgb(237, 38, 255);
}

.topnav-right a.active {
  background-color: rgb(117, 46, 248);
  color: white;
}

.topnav-right {
  float:right;
}

/* footer specs */
* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #827F91;
}

#footer {
  clear: both;
  position: relative;
}

* html #left {
  left: 150px;
}
 
p {
  padding-top: 10px;
  font-size: medium;
}
 
/* h2 {
  text-align: center;
  font-size: 2.6rem;
} */
 
/* div {
  padding-right: 43px;
  height: 100%;
  width: 100%;
} */
 
/* video {
  background-color: #A52A2A;
  border: 2px solid blue;
} */

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 40%;
}

/* collapsible textboxes */
.collapsible {
  background-color: #D8B5FF;
  color: #F6F0ED;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover{
  background-color: #F8EEDB;
  color: #246EF9;
}

.contents {
  padding: 18px;
  display: none;
  /* overflow: hidden; */
  background-color: #D8B5FF;
  color: #F6F0ED;
}

#container {
  padding-left: 150px;   /* LC width */
  padding-right: 150px;  /* RC width */
  /* overflow: hidden; -- this bit is what prevents sticky images from working*/
}

#container .column {
  float: left;
  position: relative;
  padding-top: 20010px;
  margin-top: -20000px;
}

#center {
  padding: 10px 20px;
  width: 100%;
}

#left {
  width: 180px;
  margin-left: -100%;
  right: 200px;
  padding: 0 10px;
}

#right {
  width: 150px;
  margin-right: -150px;
  padding: 0 10px;
}



.intro {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-basis: auto;
}

.intro_element {
  padding-left: 20px;
}

.middle {
  flex-basis: auto;
}
 
.main {
  padding-left: 30px;
  min-width: 75%;
}
 
/* .nav {
  background-color: #F6F0ED;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 140px;

} */
 
/* .nav h1 {
  padding-left: 20px;
} */

img.resize {
  max-width: 10%;
  max-height: 10%;
}

.embed-responsive-item {
  max-width: 75%;
  max-height: 75%;
}