html, body {
  background-color: #6F6A85;
  font-family: "Trebuchet MS", Helvetica, sans-serif ;
  min-width: 630px;
}

* html body {
  overflow: hidden;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #827F91;
}

* html #left {
  left: 150px;
}
 
p {
  max-width: 65%;
  min-width: 500px;
}
 
h2 {
  text-align: center;
  font-size: 2.6rem;
}
 
div {
  padding-right: 43px;
  height: 100%;
  width: 100%;
}
 
video {
  background-color: #A52A2A;
  border: 2px solid blue;
}

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 40%;
}

.collapsible {
  background-color: #827F91;
  color: #F6F0ED;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover{
  background-color: #5B5478;
}

.content {
  padding: 18px;
  display: none;
  /* overflow: hidden; */
  background-color: #827F91;
  color: #F6F0ED;
}

#container {
  padding-left: 150px;   /* LC width */
  padding-right: 150px;  /* RC width */
  /* overflow: hidden; -- this bit is what prevents sticky images from working*/
}

#container .column {
  float: left;
  position: relative;
  padding-top: 20010px;
  margin-top: -20000px;
}

#center {
  padding: 10px 20px;
  width: 100%;
}

#left {
  width: 180px;
  margin-left: -100%;
  right: 200px;
  padding: 0 10px;
}

#right {
  width: 150px;
  margin-right: -150px;
  padding: 0 10px;
}

#footer {
  clear: both;
  position: relative;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-basis: auto;
}

.intro_element {
  padding-left: 20px;
}

.middle {
  flex-basis: auto;
}
 
.main {
  padding-left: 30px;
  min-width: 75%;
}
 
.nav {
  background-color: #F6F0ED;
  padding-left: 15px;
  padding-right: 15px;
  /* max-width: 24%; */
  max-width: 140px;
  /* flex: 1; */
}
 
/* .nav h1 {
  padding-left: 20px;
} */

img.resize {
  max-width: 10%;
  max-height: 10%;
}
